<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
   
        <section class="wrapper">
            <div class="main">
             <div class="register">
            <div class="form login">
                <header>
                    Sign up
                  </header>
                  <form id="addValue" >
                    <label>Name</label>
                    <input type="text" class="input" name="name" id="name">
                    <label>Email</label>
                    <input type="text" class="input" name ="email" id="email">
                    <label>Number</label>
                    <input type="number" id="number" name="number" min="1" max="10">
                    <label>Password</label>
                    <input type="text" class="input" name ="Password" id="Password">
                    <div class="checkbox">
                    <input type="checkbox" id="signupCheck">
                    <label for="signupCheck">I accepted all the terms and conditions</label>
                    </div>
                    <div>
                        <input type="submit" value ="Sign Up" id="signup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="button-31" id="login">Login</button>
                      </div>         
                   </form>
            </div>
        </div>
    </div>
        </section>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
            <script src="/views/signup.js"></script>
           
</body>
</head></html>
